{% extends 'base.html.twig' %}

{% block title %}Section Nos Equipes{% endblock %}

{% block body %}
    <h1>Nos Activités {{section.name}}</h1>

    {% include('section/navbar.html.twig') %}

     <ul>
        {% if activities is defined and activities is not empty %}
            {% for activity in activities %}
             <li>{{ activity.title }} - Cours :
                {% if activity.activityClasses is not empty %}
                    {% for class in activity.activityClasses %}
                            <ul>
                                {% for training in class.trainings %}
                                    <li>{{ class.name }} - 
                                    {{ training.activityPlace.name }} - Le {{ training.day }} 
                                    de {{ training.getFormattedStartTimeSlotWithDay()|replace({':': 'h'}) }} 
                                    à {{ training.getFormattedEndTimeSlotWithDay()|replace({':': 'h'}) }}
                                    </li>
                                {% endfor %}
                            </ul>
                    {% endfor %}
                {% else %}
                    <li>Aucun Cours disponible pour cette activité</li>
                {% endif %}
            {% endfor %}
        {% else %}
            <li>Aucune Activité disponible</li>
        {% endif %}
    </ul>

{% endblock %}